{#
/**
 * @file
 * Default theme implementation for a marker for new or updated content.
 *
 * Available variables:
 * - content
 *
 * @ingroup themeable
 */
#}

<div class="tw-grid tw-sm:grid-cols-1 tw-md:grid-cols-2">
  {{ content }}
</div>
